
/* navbar*/
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Adjust this value as needed */
}
hr {
    width: 200px;
    height: 4px; /* Adjust the height to make it thinner */
    margin: 10px auto; /* Center the hr */
    background-color: rgb(0, 140, 255);
    border: none;
}

body{
    overflow-x: hidden;
}
/* button*/

.btn-circle.btn-lg {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}
.btn-circle.btn-sm {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}


.category-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700pt;
    position: relative;
    overflow: hidden;
}

.category-btn::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 62%;
    background-color: rgb(255, 17, 17);
    border-radius: 15px;
    transform: scale(0);
    transition: transform 0.3s ease;
    z-index: -1;
    
}

.category-btn:hover::before {
    transform: scale(2);
}

/*services-img */
.img-fluid{
    width: 100pt;
    height: 150pt;
}

/* Add this CSS to your stylesheet */
.img-hover {
    transition: transform 0.3s; /* Smooth transition for the effect */
}

.img-hover:hover {
    transform: scale(1.10); /* Increase the size of the image by 5% on hover */
}
/*meet the team*/
.card {
    border: none; /* Remove the card border for better appearance */
    height: 100%; /* Set a fixed height for the card */
}

.card-img-top {
    max-height: 100%; /* Set a maximum height for the image */
    width: auto; /* Allow the width to adjust proportionally */
}

.card-body {
    height: 100%; /* Set a fixed height for the card body */
}

/*sponsors*/
.background {
    background-color: #f5f5f5; /* Set a background color for the row */
    padding: 20px 0; /* Add some vertical padding to the row */
}

.image {
    display: block;
    margin: 0 auto; /* Center the images horizontally */
    max-width: 100pt;
    max-height: 50pt;
}

/*subscribe*/

.bottom-line-input {
    border: none;
    border-bottom: 2px solid #ffffff; /* Add a bottom line */
    background-color: transparent;
    border-radius: 0; /* Remove border radius */
    width:600pt;
}

.bottom-line-input:focus {
    outline: none;
}
.bottom-line-input::placeholder {
    color: #ffffff;
    font-weight: 700; /* Change the placeholder color */
}
